@define-mixin prev-next-button {
  & .flickity-prev-next-button {
    z-index: 5;
    background: transparent;
    transition: all 0.5s;

    @media (--m) {
      width: 40px;
      height: 40px;
    }

    & svg {
      transition: all 0.5s;
      fill: var(--white);
      top: 25%;
      width: 50%;
      height: 50%;
    }

    &.next {
      right: 10px;
    }

    &.previous {
      left: 10px;
    }
  }
}

@define-mixin slider-button-circle {
  & .flickity-prev-next-button {
    border: 1px solid var(--white);
    border-radius: 50%;

    &.next {
      & svg {
        left: 20%;
      }
    }

    &.previous {
      & svg {
        left: 28%;
      }
    }

    &:hover {
      border-color: var(--primary);
      background-color: var(--primary);
    }
  }
}

@define-mixin slider-button-simple {
  & .flickity-prev-next-button {
    & svg {
      width: 100%;
      height: 100%;
      top: 0;
      left: 0;
    }

    &:hover {
      & svg {
        fill: var(--primary);
      }
    }
  }
}

@define-mixin slider-button-square {
  & .flickity-prev-next-button {
    border: 2px solid var(--primary);
    background-color: var(--primary);
    opacity: 0.5;

    &.next {
      & svg {
        left: 20%;
      }
    }

    &.previous {
      & svg {
        left: 28%;
      }
    }

    &:hover {
      opacity: 1;
    }
  }
}

@define-mixin slider-button-dashes {
  & .flickity-page-dots {
    & .dot {
      width: 50px;
      height: 10px;
      border-radius: 0;
      background: var(--primary);
      opacity: 0.5;

      &.is-selected {
        width: 50px;
        height: 10px;
        border-radius: 0;
        opacity: 1;
      }
    }
  }
}

@define-mixin slider-dots-square {
  & .flickity-page-dots {
    & .dot {
      border-radius: 0;
      background: var(--primary);
      opacity: 0.5;

      &.is-selected {
        border-radius: 0;
        opacity: 1;
      }
    }
  }
}

@define-mixin slider-dots-left {
  & .flickity-page-dots {
    justify-content: flex-start;
  }
}

@define-mixin slider-dots-right {
  & .flickity-page-dots {
    justify-content: flex-end;
  }
}

@define-mixin slider-button-top-left {
  & .flickity-prev-next-button {
    top: 10px !important;
    transform: unset;

    &.next {
      right: unset;
      left: 55px;
    }
  }
}

@define-mixin slider-button-bottom-left {
  & .flickity-prev-next-button {
    top: unset !important;
    transform: unset;
    bottom: 10px;

    &.next {
      right: unset;
      left: 55px;
    }
  }
}

@define-mixin slider-button-top-right {
  & .flickity-prev-next-button {
    top: 10px !important;
    transform: unset;

    &.previous {
      left: unset;
      right: 55px;
    }
  }
}

@define-mixin slider-button-bottom-right {
  & .flickity-prev-next-button {
    top: unset !important;
    transform: unset;
    bottom: 10px;

    &.previous {
      left: unset;
      right: 55px;
    }
  }
}

@define-mixin flickity-page-dots $color {
  bottom: 1em;
  display: flex;
  justify-content: center;
  align-items: center;

  @media (--m) {
    bottom: 30px;
  }

  & .dot {
    @mixin fade-in;

    width: 12px;
    height: 12px;
    border: 1px solid $color;
    background-color: transparent;
    margin: 0 0.25em;
    transition: all 0.3s;

    @media (--m) {
      height: 15px;
      width: 15px;
      margin: 0 0.35em;
    }

    &.is-selected {
      width: 14px;
      height: 14px;
      background-color: $color;

      @media (--m) {
        width: 18px;
        height: 18px;
      }
    }
  }
}

.flickity-enabled {
  position: relative;
}

.flickity-enabled:focus {
  outline: none;
}

.flickity-viewport {
  overflow: hidden;
  position: relative;
  height: 100%;
}

.flickity-slider {
  position: absolute;
  width: 100%;
  height: 100%;
}

.flickity-enabled.is-draggable {
  -webkit-tap-highlight-color: transparent;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.flickity-enabled.is-draggable .flickity-viewport {
  cursor: move;
  cursor: -webkit-grab;
  cursor: grab;
}

.flickity-enabled.is-draggable .flickity-viewport.is-pointer-down {
  cursor: -webkit-grabbing;
  cursor: grabbing;
}

.flickity-button {
  position: absolute;
  background: hsla(0, 0%, 100%, 0.75);
  border: none;
  color: #333;
}

.flickity-button:hover {
  background: white;
  cursor: pointer;
}

.flickity-button:focus {
  outline: none;
  box-shadow: 0 0 0 5px #19f;
}

.flickity-button:active {
  opacity: 0.6;
}

.flickity-button:disabled {
  opacity: 0.3;
  cursor: auto;
  pointer-events: none;
}

.flickity-button-icon {
  fill: currentColor;
}

.flickity-prev-next-button {
  top: 50%;
  width: 40px;
  height: 40px;
  transform: translateY(-50%);
}

.flickity-prev-next-button.previous {
  left: 0;
}

.flickity-prev-next-button.next {
  right: 0;
}

.flickity-rtl .flickity-prev-next-button.previous {
  left: auto;
  right: 10px;
}

.flickity-rtl .flickity-prev-next-button.next {
  right: auto;
  left: 10px;
}

.flickity-prev-next-button .flickity-button-icon {
  position: absolute;
  left: 20%;
  top: 20%;
  width: 60%;
  height: 60%;
}

.flickity-page-dots {
  position: absolute;
  width: 100%;
  bottom: -25px;
  padding: 0;
  margin: 0;
  list-style: none;
  text-align: center;
  line-height: 1;
}

.flickity-rtl .flickity-page-dots {
  direction: rtl;
}

.flickity-page-dots .dot {
  display: inline-block;
  width: 10px;
  height: 10px;
  margin: 0 8px;
  background: #333;
  border-radius: 50%;
  opacity: 0.25;
  cursor: pointer;
}

.flickity-page-dots .dot.is-selected {
  opacity: 1;
}
