.section-post.is-mobile-horizontal {
	& .default-section__inner--main {
		@media (--max-mobile) {
			display: flex;
			overflow-x: auto;
		}
	}

	& .section-post__grid {
		@media (--max-mobile) {
			flex-wrap: nowrap;
		}
	}

	& .grid__col.section-post__col {
		@media (--max-mobile) {
			display: flex;
			flex-direction: column;
			width: 75vw;
			margin-top: 0;
		}
	}

	& .post-card {
		@media (--max-mobile) {
			& .post-card__wrapper {
				display: flex;
				flex: 1 1 auto;
			}

			& a.post-card__image-wrapper {
				display: flex;
				width: 100%;
				flex: 1 1 auto;
			}

			& .post-card__main {
				flex: 0 0 auto;
			}

			& .post-card__description {
				white-space: break-spaces;
			}
		}
	}
}

.section-post.has-slider {
	& .section-post__slider-item {
		width: 100%;
	}

	&.has-2-columns {
		& .section-post__slider-item {
			width: calc((100% - var(--grid-gutter-m) * 1) / 2);
			margin-right: var(--grid-gutter-m);
		}
	}

	&.has-3-columns {
		& .section-post__slider-item {
			width: calc((100% - var(--grid-gutter-m) * 2) / 3);
			margin-right: var(--grid-gutter-m);
		}
	}

	&.has-4-columns {
		& .section-post__slider-item {
			width: calc((100% - var(--grid-gutter-m) * 3) / 4);
			margin-right: var(--grid-gutter-m);
		}
	}

	&.has-5-columns {
		& .section-post__slider-item {
			width: calc((100% - var(--grid-gutter-m) * 4) / 5);
			margin-right: var(--grid-gutter-m);
		}
	}

	&.has-6-columns {
		& .section-post__slider-item {
			width: calc((100% - var(--grid-gutter-m) * 5) / 6);
			margin-right: var(--grid-gutter-m);
		}
	}

	& .flickity-prev-next-button {
		background: var(--primary);
		color: var(--white);
	}
}

.section-post__slider {
	padding: 2em 0;

	&.is-initialized {
		& .section-post__slider-item {
			display: flex;
			flex-direction: column;
			min-height: 100%;
		}
	}
}
