.category-post {
  margin-top: 2em;
  margin-bottom: 2em;
}

.category-post__col--wrapper {
  width: 100%;

  & .container {
    padding: 0;
  }

  & .post-grid__main {
    margin-top: 0;
  }

  @media (--m) {
    width: 75%;
  }
}

.category-post__col--sidebar {
  width: 100%;

  @media (--m) {
    width: 25%;
  }
}

.category-post--sidebar-left {
  & .category-post__col--wrapper {
    order: 1;

    @media (--m) {
      order: 2;
    }
  }

  &.category-post__col--sidebar {
    order: 2;

    @media (--m) {
      order: 1;
    }
  }
}

.category-post--no-sidebar {
  & .category-post__col--wrapper {
    width: 100%;
  }
}
