.default-section {
  padding: 2em 0;
}

.default-section__header {
  margin-bottom: 1em;

  @media (--m) {
    margin-bottom: 2em;
  }
}

.default-section__description {
  margin-top: 0.5em;
}

.default-section__footer {
  margin-top: 1em;
}

.default-section.has-2-columns .default-section__col {
  @media (--s) {
    @mixin column-item 2, 1em;
  }
}

.default-section.has-3-columns .default-section__col {
  @media (--m) {
    @mixin column-item 3, 1em;
  }
}

.default-section.has-4-columns .default-section__col {
  @media (--s) {
    @mixin column-item 2, 1em;
  }

  @media (--m) {
    @mixin column-item 4, 1em;
  }
}

.default-section.is-header-center .default-section__header {
  text-align: center;
}

.default-section.is-header-right .default-section__header {
  text-align: right;
}
