.default-content--alignment-center {
  text-align: center;

  & .default-content__title,
  & .default-content__inner {
    margin: 0 auto;
  }
}

.default-content {
  &.is-dark-contract {
    & .default-content__inner {
      color: var(--white);
    }
  }

  &.default-content--alignment-left {
    text-align: left;
  }

  &.default-content--alignment-right {
    text-align: right;
  }
}

.default-content__title {
  max-width: var(--xs);
}

.default-content__inner {
  max-width: var(--container-max);
}
