.feature-card {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  flex: 1 1 0;
  transition: 0.4s;
  background-color: var(--white);

  & > * {
    width: 100%;
  }
}

.feature-card__content {
  flex: 1 1 auto;
  display: flex;
  flex-direction: column;
}

.feature-card--boxed {
  padding: 1em;
  border: 1px solid var(--border);
  box-shadow: 0 12px 40px 0 rgba(55, 126, 249, 0.18);
  border-radius: var(--card-border-radius);

  @media (--m) {
    padding: 1.5em;
  }
}

.feature-card__footer {
  margin: auto auto 0;
  padding-top: 1em;
}

.feature-card__image {
  width: 100%;
}

.feature-card--image-contain,
.feature-card--image-cover {
  & .feature-card__image {
    @mixin ratio 9/16;
  }
}

.feature-card__icon-wrapper,
.feature-card__image-wrapper {
  @mixin flex-center;

  margin-bottom: 1em;
}

.feature-card--image-default {
  & .feature-card__image {
    width: auto;
    margin: 1.5em auto 0;

    @media (--m) {
      margin: 2em auto 0;
    }

    & .image__img {
      position: static;
      width: auto;
      max-width: 100%;
      height: auto;
    }
  }

  &.feature-card--boxed {
    & .feature-card__image {
      margin-top: 0;
    }
  }
}

.feature-card__header {
  width: 100%;
}

.feature-card--center {
  text-align: center;
}

.feature-card--left {
  text-align: left;

  & .feature-card__content {
    flex: 1 1 auto;
    display: flex;
    flex-wrap: wrap;
  }

  & .feature-card__footer {
    margin-left: 0;
  }
}

.feature-card--right {
  text-align: right;

  & .feature-card__footer {
    margin-right: 0;
  }
}
