.feature-card {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  flex: 1 1 0;
  transition: 0.4s;

  & > * {
    width: 100%;
  }
}

.feature-card__content {
  flex: 1 1 auto;
  display: flex;
  flex-direction: column;
}

.feature-card__title-link {
  display: flex;
}

.feature-card {
  &.is-content-alignment-left {
    text-align: left;
  }

  &.is-content-alignment-center {
    text-align: center;

    & .feature-card__media-wrapper {
      justify-content: center;
    }
  }

  &.is-content-alignment-right {
    text-align: right;
  }

  &.is-dark-contract {
    & .feature-card__title,
    & .feature-card__description {
      color: var(--white);
    }
  }

  &.has-border {
    padding: 20px;
    background-color: var(--white);
    border: 1px solid var(--border);
    border-radius: var(--card-border-radius);

    @media (--m) {
      padding: 30px;
    }
  }
}

.feature-card__svg {
  &.icon--24 {
    @mixin icon 24px;
  }

  &.icon--36 {
    @mixin icon 36px;
  }

  &.icon--48 {
    @mixin icon 48px;
  }
}

.feature-card__image {
  &.image--contain,
  &.image--cover {
    @mixin ratio 9/16;

    width: 100%;
  }
}
