.hero-image {
  position: relative;
  z-index: 1;
}

.hero-image__wrapper {
  @mixin flex-center;

  position: relative;
  z-index: 3;
}

.hero-image__overlay {
  display: none;
  z-index: 2;

  @media (--s) {
    @mixin abs-full;

    display: block;
  }
}

.hero-image__image {
  display: block;

  @media (--s) {
    display: flex;
  }

  & img.image__img {
    max-width: 100%;
    height: auto;

    @media (--s) {
      @mixin abs-full;

      object-fit: cover;
    }
  }

  @media (--s) {
    @mixin abs-full;
  }

  pointer-events: none;
  z-index: 2;
}

.hero-image__inner {
  display: flex;
  flex-direction: column;
  justify-content: center;

  @media (--s) {
    max-width: var(--m);
    min-height: 18em;
    padding: 1em 0;
  }
}

.hero-image__content {
  width: 100%;
  padding: 0 var(--container-gutter);
}

.hero-image--dark {
  & .hero-image__wrapper {
    background: var(--dark);

    @media (--s) {
      background: transparent;
    }
  }

  & .hero-image__label,
  & .hero-image__title,
  & .hero-image__description {
    color: var(--white);
  }
}

.hero-image--light {
  & .hero-image__wrapper {
    background: var(--light);

    @media (--s) {
      background: transparent;
    }
  }

  & .hero-image__label,
  & .hero-image__title,
  & .hero-image__description {
    @media (--s) {
      color: var(--white);
    }
  }
}

.hero-image__title {
  margin-top: 0;
}

.hero-image__footer {
  display: flex;
  align-items: center;
  padding-top: 1em;
}

.hero-image__footer-button + .hero-image__footer-button {
  margin-left: 1em;
}

.hero-image--alignment-left {
  & .hero-image__wrapper {
    align-items: flex-start;
  }
}

.hero-image--alignment-right {
  & .hero-image__inner {
    margin: auto 0 auto auto;
    text-align: right;
  }

  & .hero-image__footer {
    justify-content: flex-end;
  }
}

.hero-image--alignment-center {
  & .hero-image__inner {
    margin-left: auto;
    margin-right: auto;
    text-align: center;
  }

  & .hero-image__footer {
    justify-content: center;
  }
}

.hero-image--spacing-medium {
  & .hero-image__wrapper {
    padding: 2em 0;

    @media (--s) {
      padding: 4em 0;
    }

    @media (--m) {
      padding: 6em 0;
    }
  }
}

.hero-image--spacing-large {
  & .hero-image__wrapper {
    padding: 6em 0;

    @media (--m) {
      padding: 8em 0;
    }
  }
}

.hero-image--spacing-fullscreen {
  & .hero-image__wrapper {
    min-height: calc(100vh - 40px);

    @media (--m) {
      min-height: calc(100vh - 120px);
    }
  }
}

.hero-image--two-up {
  & .hero-image__inner {
    margin: 0 auto;

    @media (--s) {
      max-width: 100%;
      min-height: 0;
      padding: 0;
    }
  }

  & .hero-image__image {
    position: static;
    width: 100%;

    & source,
    & img {
      position: static;
      max-width: 100%;
      height: auto;
    }
  }

  & .hero-image__title {
    color: var(--dark);
  }

  & .hero-image__description {
    & * {
      color: var(--dark);
    }
  }

  & .two-up__inner {
    position: relative;

    @media (--m) {
      flex: 1 1 auto;
    }
  }

  & .two-up__col {
    @mixin column-item 1, 1em;

    @media (--s) {
      @mixin column-item 2, 1em;
    }

    @media (--m) {
      display: flex;
      align-items: center;
    }
  }
}

.hero-image--two-up--switch {
  & .two-up__grid {
    @media (--m) {
      flex-direction: row-reverse;
    }
  }
}

.hero-image--no-fullscreen {
  & .hero-image__image-container {
    height: 100%;
    position: absolute;
    width: calc(100% - 2 * var(--container-gutter));
    left: 50%;
    transform: translateX(-50%);

    @media (--s) {
      width: calc(100% - 2 * var(--container-gutter-s));
    }

    @media (--m) {
      width: calc(100% - 2 * var(--container-gutter-m));
    }

    @media (--ml) {
      width: calc(var(--container-max) - 2 * var(--container-gutter-ml));
    }
  }
}
