.image-banner {
  position: relative;
  display: block;
  width: 100%;

  @media (--m) {
    &:hover {
      & .image-banner__image::after {
        background: rgba(0, 0, 0, 0.56);
      }
    }
  }
}

.image-banner__image {
  @mixin ratio 9/16;
  @mixin image-overlay 0.35;

  width: 100%;
  z-index: 1;

  &::after {
    transition: background-color 0.3s;
  }
}

.image-banner__content {
  @mixin abs-full;
  @mixin flex-center;

  width: 100%;
  padding: 1em;
  color: var(--white);
  z-index: 2;
}
