.image-row {
  padding: 0 0 2em;
}

.image-row__col {
  width: 100%;
  margin-top: 1.5em;
}

.image-row__link {
  display: flex;
}

.image-row__image {
  position: unset;
  overflow: hidden;
  width: 100%;

  & img {
    transition: all 0.6s ease;
    position: unset;
    width: 100%;
    height: auto;
  }

  &:hover {
    & img {
      transform: scale(1.05);
    }
  }
}

.image-row__col--33 {
  @media (--s) {
    width: 33.33%;
  }
}

.image-row__col--20 {
  @media (--s) {
    width: 33.33%;
  }

  @media (--m) {
    width: 20%;
  }
}

.image-row__col--16 {
  @media (--s) {
    width: 25%;
  }

  @media (--m) {
    width: calc(100% / 6);
  }
}

.image-row__col--25 {
  @media (--s) {
    width: 50%;
  }

  @media (--m) {
    width: 25%;
  }
}

.image-row__col--50 {
  @media (--s) {
    width: 50%;
  }
}

.image-row__col--66 {
  @media (--s) {
    width: 66.66%;
  }
}

.image-row__col--75 {
  @media (--s) {
    width: 75%;
  }
}

.image-row__col--80 {
  @media (--s) {
    width: 80%;
  }
}

.image-row__col--100 {
  width: 100%;
}

.image-row--full-screen {
  & .image-row__container {
    max-width: 100%;
    padding: 0;
  }

  & .image-row__grid {
    margin: 0;
  }
}

.image-row--space-between {
  & .image-row__col {
    padding: 0;
  }
}

.image-row--image-zoom {
  & .image-row__link {
    position: relative;

    &::after {
      content: '';
      display: block;
      position: absolute;
      left: 0;
      top: 0;
      z-index: 1;
      width: 100%;
      height: 100%;
      background-color: rgba(38, 38, 38, 0.4);
      transition: all 0.55s ease-out 0.3s;
      opacity: 0;
    }

    & svg {
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%) rotate(50deg) scale(1.3);
      z-index: 2;
      opacity: 0;
      transition: all 0.55s ease-out 0.3s;
    }

    &:hover {
      &::after {
        opacity: 1;
      }

      & svg {
        opacity: 1;
        transform: translate(-50%, -50%) rotate(45deg) scale(1);
      }
    }
  }
}
