.post-grid__col {
  width: 100%;
  margin-top: 1em;
}

.post-grid--5-column {
  & .post-grid__col {
    @media (--s) {
      width: 50%;

      &:nth-child(-n + 2) {
        margin-top: 0;
      }
    }

    @media (--m) {
      width: 20%;

      &:nth-child(-n + 5) {
        margin-top: 0;
      }
    }
  }
}

.post-grid--4-column {
  & .post-grid__col {
    @media (--s) {
      width: 50%;

      &:nth-child(-n + 2) {
        margin-top: 0;
      }
    }

    @media (--m) {
      width: 25%;

      &:nth-child(-n + 4) {
        margin-top: 0;
      }
    }
  }
}

.post-grid--3-column {
  & .post-grid__col {
    @media (--s) {
      width: 50%;

      &:nth-child(-n + 2) {
        margin-top: 0;
      }
    }

    @media (--m) {
      width: 33.33%;

      &:nth-child(-n + 3) {
        margin-top: 0;
      }
    }
  }
}

.post-grid--2-column {
  & .post-grid__col {
    @media (--s) {
      width: 50%;

      &:nth-child(-n + 2) {
        margin-top: 0;
      }
    }
  }
}
