.pricing-box {
  flex: 1 1 auto;

  &.is-alignment-center {
    text-align: center;

    & .pricing-box__description {
      text-align: center;

      & ul {
        @mixin list-reset;

        margin-top: 1em;

        & li {
          margin-top: 15px;

          &:first-child {
            margin-top: 0;
          }
        }
      }
    }
  }
}

.pricing-box__price {
  line-height: 1.5;

  & .duration {
    display: block;
    width: 100%;
  }
}

.pricing-box__footer {
  padding-top: 1em;
}

.pricing-box__description {
  flex: 1 1 auto;
}

.pricing-box--style-1 {
  text-align: center;
  border: 2px solid var(--primary);
  padding-bottom: 1em;

  & .pricing-box__header {
    position: relative;
    padding: 3em 1em 1em;
    background: var(--primary);
    color: var(--white);
  }

  & .pricing-box__highlight-text {
    position: absolute;
    top: -2px;
    right: 10px;
    padding: 3px 15px;
    background: var(--dark);
    color: var(--white);
    border-radius: 0 0 var(--border-radius) var(--border-radius);
  }

  & .pricing-box__title {
    @mixin large-text;
  }

  & .pricing-box__price {
    padding: 0 1em 1em;
    background: var(--primary);

    & .price,
    & .unit {
      @mixin h3;

      color: var(--white);
    }

    & .duration {
      color: var(--white);
    }
  }

  & .pricing-box__description {
    padding: 1em;
    text-align: left;
  }

  & .pricing-box__footer {
    padding: 0 1em 1em;
  }

  &.pricing-box--highlight {
    border: 2px solid var(--secondary);

    & .pricing-box__header {
      background: var(--secondary);
    }

    & .pricing-box__price {
      background: var(--secondary);
    }

    & .pricing-box__button {
      &.button--primary {
        background: var(--secondary);
      }
    }
  }
}

.pricing-box--style-2 {
  padding: 2em 1.5em;
  border: 1px solid var(--border);
  box-shadow: 5px 5px 25px 0 rgba(0, 0, 0, 0.3);

  & .pricing-box__header {
    flex: 0 1 auto;
    margin-bottom: 1em;
    padding-bottom: 1em;
    border-bottom: 1px solid var(--border);
  }

  & .pricing-box__title {
    @mixin label-text;
  }

  & .pricing-box__price {
    & .price,
    & .unit {
      @mixin h2;

      color: var(--primary);
      font-weight: var(--font-bold);
      line-height: 1.5;
    }

    & .duration {
      font-weight: var(--font-bold);
      opacity: 0.85;
    }
  }

  & .pricing-box__description {
    flex: 0 0 auto;
    text-align: left;
  }

  & .pricing-box__button {
    width: 100%;
  }

  & .pricing-box__highlight-text {
    position: absolute;
    top: 10px;
    right: -30px;
    display: inline-block;
    min-width: 150px;
    padding: 8px 16px;
    background: var(--secondary);
    transform: rotate(40deg);
    color: var(--white);
    font-size: 0.85rem;
    text-align: center;
  }

  &.pricing-box--highlight {
    position: relative;
    overflow: hidden;
  }
}

.pricing-box--style-3 {
  padding: 2em;
  border: 2px solid var(--primary);
  text-align: center;

  & .pricing-box__title {
    color: var(--primary);
  }

  & .pricing-box__price {
    font-size: 2.3rem;
    padding-bottom: 0.75em;
    color: var(--primary);
    border-bottom: 2px solid var(--primary);
  }

  & .pricing-box__button {
    background: var(--primary);
    color: var(--white);
  }

  &.pricing-box--highlight {
    border: 2px solid var(--secondary);

    & .pricing-box__title {
      color: var(--secondary);
    }

    & .pricing-box__price {
      color: var(--secondary);
      border-bottom: 2px solid var(--secondary);
    }

    & .pricing-box__button {
      background: var(--secondary);
    }
  }
}

.pricing-box--style-4 {
  padding: 2em;
  text-align: center;
  background: var(--primary);
  color: var(--white);

  & .pricing-box__price {
    font-size: 2.3rem;
    padding-bottom: 0.75em;
    border-bottom: 2px solid var(--white);
  }

  & .pricing-box__button {
    color: var(--primary);
    background: var(--white);
    border-radius: 40px;
  }

  &.pricing-box--highlight {
    background: linear-gradient(0deg, var(--primary) 0%, var(--secondary) 100%);
  }
}
