.pricing-calculator__col {
  @mixin column-item 1, 1em;

  @media (--s) {
    @mixin column-item 2, 1em;
  }
}

.pricing-calculator__sub-title {
  margin-bottom: 1em;
}

.pricing-calculator__left-intro,
.pricing-calculator__right-intro {
  @mixin small-text;

  margin-top: 1em;
}

.pricing-calculator__qty {
  @mixin h2;

  font-weight: 700;
  font-family: var(--font-heading);
}

.noUi-target.pricing-calculator__range {
  width: 100%;
  box-shadow: none;
}

.pricing-calculator__list {
  position: relative;
  margin-bottom: 1em;
  height: 45px;
}

.pricing-calculator__item {
  @mixin fade-out;

  position: absolute;
  top: 0;
  left: 0;
  width: 100%;

  &.is-active {
    @mixin fade-in;
  }
}

.pricing-calculator__price {
  position: relative;

  & .number {
    @mixin h2;

    color: var(--primary);
    font-weight: var(--font-bold);
    font-family: var(--font-heading);
  }

  & .duration {
    @mixin large-text;

    &::before {
      content: '/';
    }
  }
}
