.product-tabs {
  & .default-section__header {
    margin-bottom: 0;
  }

  & .default-section__main {
    margin-top: 2em;
  }
}

.product-tabs__nav {
  @mixin list-reset;

  display: none;
  position: relative;

  @media (--s) {
    display: flex;
    margin-top: 2em;
  }
}

.product-tabs__item {
  position: relative;
  margin-right: 1.25em;
  padding: 0.25em 1em;
  border: 1px solid var(--dark);
  border-radius: 20px;
  color: var(--dark);
  opacity: 0.5;
  transition: opacity 0.3s ease-in-out;

  &:hover {
    opacity: 1;
    cursor: pointer;
  }

  &.is-active {
    opacity: 1;

    &::before {
      width: 100%;
    }
  }
}

.product-tabs__select-wrapper {
  @mixin select-wrapper;

  margin-top: 1em;

  @media (--s) {
    display: none;
  }

  & select {
    @mixin select-in-wrapper;
  }
}

.product-tabs__tab-content {
  &[aria-expanded] {
    @mixin fade-out;

    display: none;
  }

  &[aria-expanded='true'] {
    @mixin fade-in;

    display: block;
  }
}

.product-tabs--nav-center {
  & .product-tabs__nav {
    justify-content: center;
  }
}
