.product-grid-sidebar {
  padding: 2em 0;

  @media (--s) {
    padding: 3em 0;
  }

  & .product-card {
    margin-top: 0;
  }

  & .default-section__header {
    margin-bottom: 1em;
  }
}

.product-grid-sidebar--1-columns {
  & .product-grid-sidebar__col {
    @mixin column-item 1, 1em;
  }
}

.product-grid-sidebar--2-columns,
.product-grid-sidebar--3-columns,
.product-grid-sidebar--4-columns,
.product-grid-sidebar--5-columns {
  & .product-grid-sidebar__col {
    @mixin column-item 2, 1em;
  }
}

.product-grid-sidebar--3-columns {
  & .product-grid-sidebar__col {
    @media (--m) {
      @mixin column-item 3, 1em;
    }
  }
}

.product-grid-sidebar--4-columns {
  & .product-grid-sidebar__col {
    @media (--s) {
      @mixin column-item 4, 1em;
    }
  }
}

.product-grid-sidebar--5-columns {
  & .product-grid-sidebar__col {
    @media (--s) {
      @mixin column-item 3, 1em;
    }

    @media (--m) {
      @mixin column-item 5, 1em;
    }
  }
}

.product-grid-sidebar__description {
  display: flex;
  align-items: center;
  margin-top: 0.5em;
}

.product-grid-sidebar__item {
  list-style: none;
  margin-top: 0 !important;

  & a {
    display: inline-block;
    margin-right: 1em;
    padding-right: 1em;
    line-height: 1;
    transition: 0.4s;
    border-right: 1px solid var(--gray);

    &:hover {
      color: var(--primary);
    }
  }

  &:last-child {
    & a {
      border-right: none;
    }
  }
}

.product-grid-sidebar__content {
  & .container {
    padding: 0;
  }

  & .sidebar-section__block--content {
    padding-left: 0.5em;
  }

  & .sidebar-section__block-grid {
    margin-right: -0.5em;
  }
}

.product-grid-sidebar__col {
  padding: 0 0.5em;
}
