.section-post {
  & .default-section__header {
    margin-bottom: 1em;
  }
}

.section-post--preset-1 {
  & .section-post__title {
    position: relative;
    text-transform: uppercase;
    padding-bottom: 0.25em;

    &::after {
      content: '';
      background: var(--gray);
      width: 80px;
      height: 1px;
      position: absolute;
      bottom: 0;
      left: 50%;
      transform: translateX(-50%);
    }
  }
}

.section-post--preset-2 {
  & .section-post__title {
    font-weight: var(--font-normal);
  }
}

.section-post--preset-3 {
  & .section-post__title {
    text-transform: uppercase;
    font-weight: var(--font-bold);
  }
}

.section-post--preset-4 {
  & .section-post__header {
    & .section-post__inner {
      background: var(--light);
      padding: 0.75em 0;
    }
  }

  & .section-post__title {
    text-transform: uppercase;
  }
}

.section-post.is-mobile-horizontal {
  & .default-section__inner--main {
    @media (--max-mobile) {
      display: flex;
      overflow-x: auto;
    }
  }

  & .section-post__grid {
    @media (--max-mobile) {
      flex-wrap: nowrap;
    }
  }

  & .grid__col.section-post__col {
    @media (--max-mobile) {
      display: flex;
      flex-direction: column;
      width: 75vw;
      margin-top: 0;
    }
  }

  & .post-card {
    @media (--max-mobile) {
      & .post-card__wrapper {
        display: flex;
        flex: 1 1 auto;
      }

      & a.post-card__image-wrapper {
        display: flex;
        width: 100%;
        flex: 1 1 auto;
      }

      & .post-card__main {
        flex: 0 0 auto;
      }

      & .post-card__description {
        white-space: break-spaces;
      }
    }
  }
}
