.section-product__link {
  display: inline-block;
  margin-right: 1.25em;
  color: var(--dark);

  &:hover {
    color: var(--primary);
  }

  &:last-child {
    margin-right: 0;
  }
}

.section-product__title {
  padding: 0 var(--container-gutter);

  @media (--s) {
    padding: 0;
  }
}

.section-product__categories-wrapper {
  @mixin scrollbar 5px;

  overflow-x: auto;
  margin-left: var(--container-gutter);
  margin-top: 0.5em;

  @media (--s) {
    overflow-x: inherit;
    width: 100%;
    max-width: 100%;
    margin-left: 0;
  }
}

.section-product__categories {
  display: block;
  white-space: nowrap;

  @media (--s) {
    white-space: normal;

    & .section-product__link {
      margin-top: 5px;
    }
  }
}

.section-product.has-2-columns,
.section-product.has-3-columns,
.section-product.has-4-columns,
.section-product.has-5-columns,
.section-product.has-6-columns,
.section-product.has-8-columns {
  & .section-product__col {
    width: 50%;
  }
}

.section-product.has-3-columns,
.section-product.has-5-columns {
  & .section-product__col {
    @media (--xs) {
      width: 33.33%;
    }
  }
}

.section-product.has-4-columns,
.section-product.has-6-columns,
.section-product.has-8-columns {
  & .section-product__col {
    @media (--xs) {
      width: 25%;
    }
  }
}

.section-product.has-8-columns {
  & .section-product__col {
    @media (--m) {
      width: calc(100% / 8);
    }
  }
}

.section-product.has-6-columns {
  & .section-product__col {
    @media (--m) {
      width: calc(100% / 6);
    }
  }
}

.section-product.has-5-columns {
  & .section-product__col {
    @media (--m) {
      width: 20%;
    }
  }
}

.section-product.has-1-columns {
  & .section-product__col {
    width: 100%;
  }
}

.section-product.is-header-center {
  & .section-product__header {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
  }

  & .section-product__footer {
    text-align: center;
  }

  & .default-section__container--header {
    display: flex;
    flex-direction: column;
  }

  & .section-product__categories {
    margin-top: 1em;
  }
}

.section-product.is-header-right {
  & .section-product__header {
    text-align: right;
  }
}

.section-product.is-footer-center {
  & .section-product__footer {
    text-align: center;
  }
}

.section-product.is-footer-right {
  & .section-product__footer {
    text-align: right;
  }
}

.section-product.display-categories {
  & .section-product__header {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
  }

  & .section-product__link {
    margin-right: 0.5em;
    padding: 0.125em 1em;
    display: inline-block;
    background-color: var(--white);
    border-radius: 24px;
    box-shadow: 0 0.125rem 0.25rem rgba(0, 0, 0, 0.075);

    @media (--s) {
      box-shadow: unset;

      &:hover {
        box-shadow: 0 0.125rem 0.25rem rgba(0, 0, 0, 0.075);
      }
    }
  }
}
