.slideout-menu {
  @mixin fade-out;

  position: fixed;
  z-index: 100;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  transition: opacity 0.25s, visibility 0s 0.25s;

  @media (--m) {
    display: none;
  }
}

.is-slideout-visible .slideout-menu {
  @mixin fade-in;

  & .slideout-menu__wrapper {
    transform: translate(0, 0);
  }
}

.has-header-layout-2 {
  & .slideout-menu {
    @media (--m) {
      display: block;
    }
  }
}

.slideout-menu__overlay {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 1;
}

.slideout-menu__close-button {
  @mixin button-reset;

  position: absolute;
  top: 0;
  right: 0;
  padding: 0.5em 0.85em;
  font-size: 1.5rem;

  & * {
    pointer-events: none;
  }

  & svg {
    width: 20px;
    height: 20px;
    fill: var(--white);
  }
}

.slideout-menu__wrapper {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  transform: translate(-100%, 0);
  max-width: calc(100% - 4rem);
  width: 300px;
  overflow-y: auto;
  backface-visibility: hidden;
  transition: transform 0.25s 125ms;
  z-index: 2;
}

.slideout-menu__inner {
  position: relative;
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100%;
  overflow-y: auto;
  background-color: var(--white);
  padding: 1em;
  z-index: 1;

  &::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
    border-radius: 10px;
    background-color: #f5f5f5;
  }

  &::-webkit-scrollbar {
    width: 12px;
    background-color: #f5f5f5;
  }

  &::-webkit-scrollbar-thumb {
    border-radius: 10px;
    -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
    background-color: #777;
  }

  & .modal-search-form__form {
    margin-bottom: 15px;
    font-size: 14px;
    & input {
      padding-left: 10px;
    }

    & button {
      width: 40px;
    }

    & input,
    & button {
      height: 40px;
    }
  }
}

.slideout-menu__menu {
  @mixin list-reset;

  display: flex;
  flex-direction: column;

  & > .menu-item {
    padding: 0.5em 0;

    & > a {
      display: block;
      font-weight: 700;
    }
  }

  & > .menu-item-has-children {
    & > .sub-menu {
      padding-left: 10px;

      & > .menu-item {
        padding: 0.25em 0;
      }

      & > .menu-item-has-children {
        & > .sub-menu {
          display: none;
        }
      }
    }
  }
}

.slideout-menu__loader {
  @mixin fade-out;
  @mixin flex-center;

  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: var(--white);
  z-index: 3;
}

.is-loading .slideout-menu__loader {
  @mixin fade-in;
}
