.store-locator {
  margin-top: 2em;

  @media (--s) {
    margin-top: 3em;
  }
}

#map {
  height: 100%;
}

.grid__col.sidebar-section__block.sidebar-section__block--content {
  width: 100%;
  height: 500px;
}

.sidebar-section__inner,
.store-locator__grid,
.sidebar-section__block--content .store-locator__col {
  width: 100%;
  height: 100%;
}

.sidebar-section__block--sidebar {
  & .store-locator__grid {
    flex-direction: column;
    margin: 0 !important;
  }

  & .store-locator__col {
    padding: 0;
  }

  & svg {
    width: 1em;
  }

  & span {
    margin-right: 0.5em;
  }
}

.store-locator-item {
  margin-bottom: 1em;
  padding: 0 0 1em;
  border-bottom: 1px dotted var(--dark);
}

.store-locator-item__title {
  font-size: 0.9rem;
  margin-bottom: 0.75em;
  cursor: pointer;
}

.store-locator-item__address {
  cursor: pointer;
}

.store-locator-form {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 2em;

  & > * {
    flex: 1 1 auto;

    & > * {
      width: calc(100% - 1em);
      padding: 0.5em;
    }
  }

  & .hide {
    display: none !important;
  }
}
