.testimonials {
  & .flickity-prev-next-button {
    border-radius: 50%;
    border: 1px solid var(--primary-light);
    background-color: var(--white);
    transition: all 0.5s;

    &:hover {
      background-color: var(--primary);
      border-color: var(--primary);

      & .flickity-button-icon {
        fill: var(--white);
      }
    }

    &.previous {
      left: 0;
    }

    &.next {
      right: 0;
    }
  }

  & .flickity-page-dots {
    bottom: -30px;

    & .dot {
      background: var(--secondary);
    }
  }
}

.testimonials__label {
  text-transform: uppercase;
  color: var(--secondary);
}

.testimonials__row--navigation {
  margin-top: 1em;
}

.testimonials__column {
  width: 100%;
}

.testimonials__image {
  @mixin ratio 1/1;

  width: 80px;
  border-radius: 50%;
  overflow: hidden;
}

.is-initialized {
  & .testimonials__column {
    height: 100%;
    display: flex;
    flex-direction: column;
  }

  & .testimonials__inner {
    display: flex;
    justify-content: flex-start;
    flex: 1 1 0;
    flex-direction: column;
    background-color: var(--white);
  }

  & .testimonials__profile {
    margin-top: auto;
  }
}

.testimonials__info {
  color: var(--black);
  font-weight: var(--font-bold);

  & cite {
    color: var(--gray);
    display: block;
    font-weight: var(--font-bold);
  }
}

.testimonials--preset-1 {
  & .flickity-prev-next-button {
    top: 115%;
    width: 35px;
    height: 35px;
    border-radius: 5px;
    border: 1px solid var(--primary-light);
    background-color: var(--primary-light);

    & .flickity-button-icon {
      left: 30%;
      top: 30%;
      width: 40%;
      height: 40%;
      fill: var(--primary);
    }

    &.previous {
      left: 35%;
    }

    &.next {
      right: 35%;
    }

    @media (--xs) {
      top: 50%;
      transform: translateY(-50%);

      &.previous {
        left: -30px;
      }

      &.next {
        right: -30px;
      }
    }

    @media (--ml) {
      &.previous {
        left: -45px;
      }

      &.next {
        right: -45px;
      }
    }
  }

  & .flickity-page-dots {
    display: none;
  }

  & .testimonials__main {
    padding-bottom: 5em;

    @media (--xs) {
      padding-bottom: unset;
    }
  }

  & .testimonials__profile {
    display: flex;
    flex-wrap: wrap;
    padding: 1em;
    background: var(--primary-light);
    vertical-align: middle;
    align-items: center;

    & .testimonials__info {
      width: auto;
      flex: 1 1 0;
    }
  }

  & .testimonials__inner {
    border: 1px solid var(--primary-light);
    transition: all 0.5s;

    &:hover {
      box-shadow: 0 0 8px 0 var(--gray);
      transform: translateY(-5px);
    }
  }

  & .testimonials__comment {
    padding: 1em;
  }

  & .testimonials__image {
    margin-right: 1em;
  }

  & .testimonials__column {
    padding: 15px;

    @media (--s) {
      width: 50%;
    }

    @media (--m) {
      width: 33.33%;
    }
  }

  & .testimonials__icon {
    & svg {
      width: 30px;
      height: 30px;
    }
  }

  & .testimonials__icon--open {
    margin-bottom: 0.5em;
  }

  & .testimonials__icon--close {
    text-align: right;
  }
}

.testimonials--preset-2 {
  & .testimonials__column {
    padding: 1em;

    @media (--s) {
      width: 50%;
    }
  }

  & .flickity-prev-next-button {
    display: none;
  }

  & .testimonials__profile {
    display: flex;
    flex-wrap: wrap;
    padding: 1em 0;
    align-items: center;
    vertical-align: middle;
  }

  & .testimonials__image {
    margin-right: 1em;
  }

  & .testimonials__inner {
    transition: all 0.5s;

    &:hover {
      box-shadow: 0 0 8px 0 var(--gray);
      transform: translateY(-5px);
    }

    @media (--sm) {
      padding: 1em;
    }
  }

  & .testimonials__icon {
    display: none;
  }
}

.testimonials--preset-3 {
  & .flickity-prev-next-button {
    display: none;

    @media (--sm) {
      display: block;
      width: 50px;
      height: 50px;
      background-color: var(--primary-light);
    }
  }

  & .flickity-button-icon {
    left: 35%;
    top: 35%;
    width: 30%;
    height: 30%;
    fill: var(--primary);
  }

  & .flickity-page-dots {
    display: block;

    @media (--sm) {
      display: none;
    }
  }

  & .testimonials__image {
    margin: auto;
  }

  & .testimonials__profile {
    text-align: center;
    transition: all 0.5s;
  }

  & .testimonials__inner {
    max-width: var(--sm);
    margin: auto;
    position: relative;
  }

  & .testimonials__comment {
    text-align: center;
    font-size: 1rem;
    padding: 1em;
  }

  & .testimonials__icon--open {
    display: none;
  }

  & .testimonials__icon--close {
    position: absolute;
    right: 0;
    top: 0;

    & svg {
      width: 150px;
      height: 150px;
      opacity: 0.1;
    }
  }

  & .testimonials__info {
    margin-top: 1em;
  }
}

.testimonials--preset-4 {
  & .default-section__container--main {
    max-width: var(--s);
  }

  & .testimonials__title {
    position: relative;
    padding-bottom: 0.75em;
    margin-bottom: 0.75em;

    &::before,
    &::after {
      content: '';
      position: absolute;
      left: 50%;
      background-color: var(--primary);
    }

    &::before {
      bottom: 7px;
      width: 200px;
      border-bottom: 1px solid var(--primary);
      transform: translate(-50%, -50%);
    }

    &::after {
      bottom: 0;
      width: 8px;
      height: 8px;
      transform: translate(-50%, -50%) rotate(45deg);
    }
  }

  & .is-initialized {
    & .testimonials__inner {
      background-color: transparent;
    }
  }

  & .testimonials__columns--main {
    margin: auto;

    & .testimonials__column {
      width: calc(100% / 3);
      opacity: 0.75;
      cursor: pointer;
    }

    & .testimonials__profile {
      display: flex;
    }

    & .testimonials__column.is-selected {
      opacity: 1;

      & .testimonials__image {
        opacity: 1;
        border: 2px solid var(--light);
      }
    }

    & .testimonials__image {
      margin: auto;
      border: 3px solid var(--primary);
      transition: 0.4s;
    }
  }

  & .testimonials__columns--nav {
    margin: auto;

    & .testimonials__profile {
      margin-top: 0;
    }

    & .flickity-viewport {
      max-width: var(--sm);
      margin: auto;
      text-align: center;
      color: white;
    }

    & .testimonials__info,
    & .testimonials__info > * {
      color: var(--white);
      font-style: normal;
    }

    & .flickity-prev-next-button {
      border: 1px solid var(--white);
      color: var(--primary);

      & svg {
        transition: 0.4s;
      }
    }

    & .flickity-slider {
      transform: none !important;
    }

    & .testimonials__column {
      left: 0 !important;
      opacity: 0;
      transition: opacity 0.3s ease-in-out;
      z-index: -1;
    }

    & .testimonials__column.is-selected {
      opacity: 1;
      z-index: 0;
    }
  }
}

.testimonials--preset-5 {
  @media (--s) {
    padding-bottom: 0;
  }

  & .testimonials__main {
    margin-top: 0;

    @media (--s) {
      margin-top: 2em;
    }
  }

  & .testimonials__column {
    width: 100%;
    padding: 0.5em;

    @media (--sm) {
      @mixin column-item 3, 0;
    }
  }

  & .testimonials__inner {
    padding: 0.5em;
    border: 1px solid var(--light);
    box-shadow: 0 0.125rem 0.25rem rgb(0, 0, 0, 0.3);
    border-radius: 4px;

    @media (--s) {
      padding: 1em 2.5em;
    }
  }

  & .testimonials__icon--open,
  & .testimonials__icon--close {
    display: none;
  }

  & .testimonials__profile {
    margin-top: 0;
    margin-bottom: 1em;
    order: 1;
    text-align: center;

    & .testimonials__image {
      margin: 0 auto;
    }
  }

  & .testimonials__comment {
    order: 2;
  }

  & .flickity-prev-next-button {
    background-color: var(--primary);
    display: none;

    & svg {
      fill: var(--white);
      width: 24px;
      height: 24px;
    }

    &.previous {
      left: -10px;
    }

    &.next {
      right: -10px;
    }

    @media (--s) {
      display: block;
      width: 40px;
      height: 40px;
    }
  }
}

.testimonials__container {
  z-index: 2;
}
