p.testimonial-card__title {
  @mixin large-text;

  margin: 0;
  font-weight: var(--font-bold);
}

.testimonials--preset-1 {
  & .testimonial-card__author {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    margin-top: 1em;
  }

  & .testimonial-card__image-wrapper {
    width: 60px;
    border-radius: 50%;
    overflow: hidden;
  }

  & .testimonial-card__author-info {
    flex: 1 1 0;
    padding-left: 20px;
    line-height: 1.5;

    & p {
      margin: 0;
      font-weight: var(--font-bold);
    }

    & cite {
      margin-top: 0.25em;
      font-style: normal;
      font-size: 0.85rem;
    }
  }

  & .testimonial-card__icon {
    @mixin icon 20px;

    position: absolute;

    &.is-open {
      top: 0;
      left: -15px;
    }

    &.is-close {
      bottom: 0;
      right: -15px;
    }
  }

  & .testimonial-card {
    padding: 0 15px;
  }
}

.testimonials--preset-2 {
  & .testimonial-card__icon {
    display: none;
  }

  & .testimonial-card__title {
    position: absolute;
    top: -10px;
    left: 35px;
    max-width: calc(100% - 70px);
    margin-bottom: 0.25em;
    padding: 5px 15px;
    background: var(--primary);
    color: var(--white);
    border-radius: var(--border-radius);
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 1;
    -webkit-box-orient: vertical;
  }

  & .testimonial-card__inner {
    position: relative;
    margin-top: 15px;
    padding: 30px 35px;
    border-radius: 5px;
    background-color: rgba(0, 0, 0, 0.08);

    &::before {
      content: '';
      position: absolute;
      border-width: 15px;
      border-style: solid;
      border-color: rgba(0, 0, 0, 0.08) transparent transparent;
      top: 100%;
      left: 45px;
      z-index: 1;
    }
  }

  & .testimonial-card__author {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    margin-top: 25px;
    padding-left: 30px;
  }

  & .testimonial-card__author-info {
    flex: 1 1 0;
    padding-left: 20px;
    line-height: 1.5;

    & p {
      margin: 0;
      font-weight: var(--font-bold);
    }

    & cite {
      margin-top: 0.25em;
      font-style: normal;
      font-size: 0.85rem;
    }
  }

  & .testimonial-card__image-wrapper {
    width: 60px;
    border-radius: 50%;
    overflow: hidden;
  }
}
