.two-up-intro__col {
  width: 100%;

  @media (--s) {
    width: 50%;
  }
}

.two-up-intro__inner {
  padding: 1em 0;

  @media (--s) {
    padding: 2em;
  }
}

.two-up-intro__footer {
  margin-top: 1em;
}

.two-up-intro--image-right {
  & .two-up-intro__grid {
    @media (--s) {
      flex-direction: row-reverse;
    }
  }
}

.two-up-intro--no-container {
  & .two-up-intro__container {
    max-width: 100%;
    padding: 0;
  }
}

.two-up-intro__image {
  & .image__img {
    position: static;
  }
}
