.two-up-intro__grid {
  display: flex;
  flex-wrap: wrap;
}

.two-up-intro__col {
  width: 100%;

  @media (--s) {
    width: 50%;
  }
}

.two-up-intro__col--image {
  position: relative;
}

.two-up-intro__image {
  @mixin ratio 9/16;

  @media (--s) {
    @mixin abs-full;

    top: 50%;
    transform: translateY(-50%);
    max-height: 500px;

    &::before {
      content: none;
    }
  }
}

.two-up-intro__inner {
  @media (--s) {
    padding: 2em;
  }

  @media (--m) {
    padding: 4em;
  }

  @media (--ml) {
    padding: 8em 4em;
  }
}

.two-up-intro__footer {
  margin-top: 1em;
}

.two-up-intro--image-right {
  & .two-up-intro__grid {
    @media (--s) {
      flex-direction: row-reverse;
    }
  }
}

.two-up-intro--size-large {
  & .two-up-intro__inner {
    padding: 2em;

    @media (--s) {
      padding: 4em;
    }

    @media (--ml) {
      min-height: 450px;
      max-width: calc(400px + 12em);
      margin: 0 auto;
      padding: 12em 6em;
    }
  }
}

.two-up-intro--style-gym {
  position: relative;
  z-index: 4;

  & .two-up-intro__grid {
    background-color: var(--white);
  }

  & h2,
  & h3 {
    font-weight: 700;
  }

  & h2 {
    @media (--m) {
      font-size: 2.5rem;
    }
  }
}

.two-up-intro--no-container {
  & .two-up-intro__container {
    max-width: 100%;
    padding: 0;
  }
}

.two-up-intro--style-creative-box {
  & .two-up-intro__wrapper {
    @media (--m) {
      margin: 4em 0;
    }
  }

  & .two-up-intro__container {
    @mixin container-from-s;
  }

  & .two-up-intro__inner {
    padding: 2em;

    @media (--m) {
      padding: 4em;
      background-color: var(--secondary);
    }
  }

  & .two-up-intro__content {
    & * {
      @media (--m) {
        color: var(--white);
      }
    }
  }

  & .two-up-intro__grid {
    @media (--m) {
      position: relative;
      justify-content: flex-end;
      z-index: 3;
    }
  }

  & .two-up-intro__col--content {
    @media (--m) {
      position: relative;
      width: 40%;
      margin-top: 20px;
      z-index: 2;
    }

    @media (--m) {
      margin-top: 40px;
    }
  }

  & .two-up-intro__col--image {
    @media (--m) {
      position: absolute;
      top: 0;
      left: 0;
      width: 65%;
      height: calc(100% - 40px);
      z-index: 1;
    }

    @media (--m) {
      height: calc(100% - 80px);
    }
  }

  &.two-up-intro--alignment-right {
    & .two-up-intro__grid {
      @media (--m) {
        justify-content: flex-start;
      }
    }

    & .two-up-intro__col--image {
      @media (--m) {
        left: auto;
        right: 0;
      }
    }
  }

  &.two-up-intro--alignment-center {
    & .two-up-intro__grid {
      @media (--m) {
        justify-content: flex-start;
      }
    }

    & .two-up-intro__col--content {
      margin-top: 0;
    }
  }
}

.two-up-intro--style-short {
  @media (--s) {
    margin-top: 40px;
    margin-bottom: 40px;
  }

  & .two-up-intro__col {
    @media (--s) {
      width: calc(50% - 20px);
    }
  }

  & .two-up-intro__col--image {
    @media (--s) {
      margin-right: 20px;
    }
  }

  & .two-up-intro__col--content {
    @media (--s) {
      margin-left: 20px;
    }
  }
}

.two-up-intro--style-gym-2 {
  & .two-up-intro__col--content {
    background-color: var(--dark-2);

    @media (--m) {
      @mixin flex-center;
    }

    & * {
      color: var(--white);
    }

    & h2 {
      font-weight: 700;

      @media (--m) {
        font-size: 3rem;
      }
    }
  }

  & .two-up-intro__footer {
    @media (--m) {
      margin-top: 2em;
    }
  }
}

.two-up-intro--style-creative-box-2 {
  & .two-up-intro__wrapper {
    position: relative;

    @media (--m) {
      margin: 4em 0;
    }

    @media (--ml) {
      margin: 8em 0;
    }
  }

  & .two-up-intro__grid {
    @media (--m) {
      justify-content: flex-end;
      z-index: 1;
      padding: 0 4em 0 0;
    }

    @media (--ml) {
      max-width: var(--container-max);
      margin: 0 auto;
      padding: 0 var(--container-gutter-ml);
    }
  }

  & .two-up-intro__col--image {
    @media (--m) {
      position: absolute;
      top: 0;
      left: 0;
      width: 60%;
      height: 100%;
      z-index: 1;
    }
  }

  & .two-up-intro__col--content {
    @media (--m) {
      @mixin flex-center;

      position: relative;
      width: 50%;
      z-index: 3;
    }

    @media (--ml) {
      width: 60%;
      margin-top: 8em;
      min-height: 500px;
    }
  }

  & .two-up-intro__inner {
    @media (--m) {
      background-color: var(--primary-darker);
      transform: translate(4em, 4em);
    }

    @media (--ml) {
      padding: 4em;
    }
  }

  & .two-up-intro__content {
    & * {
      @media (--m) {
        color: var(--white);
      }
    }
  }
}

.two-up-intro {
  & .two-up-intro__col--image {
    width: 100%;

    @media (--s) {
      width: 50%;
    }
  }

  & .two-up-intro__col--content {
    flex: 1 1 auto;
  }
}
