.video-center {
  position: relative;

  & .plyr,
  & .js-video {
    transition: all 0.3s;
  }
}

.video-center.is-loading {
  & .plyr,
  & .js-video {
    @mixin abs-full;
    @mixin fade-out;
  }

  & .video-center__loader {
    @mixin fade-in;

    display: flex;
  }
}

.video-center.is-dark-contract {
  & .video-center__title,
  & .video-center__description * {
    color: var(--white);
  }
}
