.acf-flexible-content .layout {
  border: 2px solid #ddd;
  box-shadow: none;
  transition: all 0.3s;
}

.acf-flexible-content .layout:hover {
  border-color: #0073aa;
  box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.1);
}

.acf-flexible-content .layout .acf-fc-layout-handle {
  padding: 8px 10px;
  border-bottom: 1px solid #ddd;
}

.acf-flexible-content .acf-fc-layout-controls .acf-icon.-plus,
.acf-flexible-content .acf-fc-layout-controls .acf-icon.-minus,
.acf-flexible-content .acf-fc-layout-controls .acf-icon.-duplicate {
  background: transparent;
}

.acf-flexible-content .acf-fc-layout-order {
  display: none;
}

.acf-flexible-content {
  padding: 1em;
  border: 2px dashed rgba(0, 0, 0, 0.1);
}

.acf-field input[type='text'],
.acf-field input[type='password'],
.acf-field input[type='date'],
.acf-field input[type='datetime'],
.acf-field input[type='datetime-local'],
.acf-field input[type='email'],
.acf-field input[type='month'],
.acf-field input[type='number'],
.acf-field input[type='search'],
.acf-field input[type='tel'],
.acf-field input[type='time'],
.acf-field input[type='url'],
.acf-field input[type='week'],
.acf-field textarea,
.acf-field select {
  border: 1px solid #c5c5c5;
  border-radius: 0;
}

.acf-required {
  color: #666;
}

.button-full {
  width: 100%;
}

.button-ct-action {
  margin: 0;
  font-weight: 700;
}

#poststuff #codetot-flexible-button * {
  box-sizing: border-box;
}

#poststuff #codetot-flexible-button .ct__block-list ul {
  display: flex;
  flex-wrap: wrap;
  margin: 0 -0.5em;
  padding: 0;
  list-style: none;
  max-height: 600px;
  overflow-y: scroll;
}

#poststuff #codetot-flexible-button .ct__block-list ul li {
  width: 50%;
  margin-top: 0.25em;
  padding: 0 0.5em;
  display: flex;
}

#poststuff #codetot-flexible-button .ct__block-list ul li:nth-child(-n + 2) {
  margin-top: 0;
}

#poststuff #codetot-flexible-button .ct__block-list a {
  border: 1px solid #ddd;
  border-radius: 4px;
  text-decoration: none;
  transition: all 0.3s;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 1em;
  flex: 1 1 auto;
  text-align: center;
  color: var(--primary);
  font-weight: 600;
}

#poststuff #codetot-flexible-button .ct__block-list a:hover,
#poststuff #codetot-flexible-button .ct__block-list a.active {
  border: 1px solid #0073aa;
  background-color: #1346af0f;
}

#poststuff #codetot-flexible-button .ct__block-list a > svg {
  margin-bottom: 0.5em;
  fill: var(--primary);
}

#poststuff #codetot-flexible-button .ct__svg {
  display: none;
}

#poststuff #codetot-flexible-button .inside {
  margin: 0;
  padding: 15px 10px;
  position: relative;
}

#poststuff .ct__preview-block {
  position: fixed;
  left: -280px;
  top: 50%;
  transform: translate(-50%, -50%);
  max-width: 70%;
  width: 400px;
  max-height: 70%;
  height: 500px;
  background-color: var(--white);
  border: 1px solid #ddd;
  z-index: 0;
  opacity: 0;
  visibility: hidden;
  transition: 0.4s;
}

@media screen and (min-width: 850px) {
  #poststuff .ct__preview-block {
    position: absolute;
    left: -270px;
    top: -38px;
    width: 280px;
    height: auto;
    max-width: 100%;
    max-height: 100%;
    transform: unset;
    padding: 12px;
    border-radius: 4px;
    background-color: #f1f1f1;
    box-shadow: 0 0 3px 2px #00000026;
  }

  #poststuff .ct__preview-block.active {
    left: -280px;
    opacity: 1;
    visibility: visible;
    z-index: 9999;
  }
}

#poststuff .ct__preview-block-item {
  cursor: pointer;
  overflow: hidden;
  transition: 0.2s;
  border: 1px solid transparent;
}

#poststuff .ct__preview-block-item > img {
  border: 1px solid #ddd;
  border-radius: 4px;
  transition: 0.4s;
  width: 100%;
}

#poststuff .ct__preview-block-item:hover {
  transform: scale(1.02);
}

#poststuff .ct__preview-block-item:hover > img {
  border-color: var(--primary);
}

[data-type="wysiwyg"] iframe {
  max-height: 120px !important;
  min-height: 0 !important;
}
